<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="/../Recruiter/RecruiterHomebase::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Job List</title>
</head>
<body>
	<section>
		<script
			src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script type="text/javascript"
			src="https://cdn.datatables.net/v/dt/dt-1.10.25/datatables.min.js"></script>
		<script src="/RecruiterJS/getJobListRequest.js"></script>
		<div class="container"></div>
		<div class="row">
			<div class="col-md-8 offset-md-2">
				<div class="mt-1">

					<h1 class="text-center">Job List</h1>


					<div class="row">
						<div class="col-sm-4">
							<form id="getJob" name="getJob" method="post">
								<div>
									<input class="form-control me-2 mt-2" type="search"
										id="keyword" name="keyword" placeholder="Search"
										aria-label="Search">
								</div>
								<div>
									<button class="btn btn-outline-success btn-dark mt-2 mb-2"
										type="submit">Search</button>
								</div>
							</form>
						</div>
					</div>


					<br>
				</div>
			</div>
			<div class="row leftrow">
			<div id="responseDiv"></div>
			
			<table id="myTable" class="text-center ">
				<thead>
					<tr>
						<th>ID</th>
						<th>Company</th>
						<th>Language</th>
						<th>date</th>
						<th>City</th>
						<th>Description</th>
						<th>Update</th>
						<th>Delete</th>
						<th>Show Appliers</th>
					</tr>
				</thead>
				<tbody>

				</tbody>
			</table>
        </div>
		</div>


	</section>

</body>
</html>
