<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="Homebase::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title></title>
</head>
<body >
	<section class="contactPage-Back">
	<br>
		<h1 class="d-flex justify-content-center align-items-center">CONNECT WITH US 
		       <img alt="" style="width:50px" th:src="@{img/contact.png}"></h1>
        <h5 class="d-flex justify-content-center align-items-center">Free consultation. No obligation quote within 9 business hours.</h5>
		<div class="row">
           
           <div class="col-md-8 offset-md-2 text-center">
              <br>
               <div >
                <h5>IND :       +91 7042 020 782</h5>
                <h5>USA :       +1 404 410 2397</h5>
                <h5>UK :        +44 161 870 6443</h5>
                <h5>AUS :       +61 2 8310 4608</h5>
                <h5>Email :     sales@valuecoders.com</h5>
                <h5>Whatsapp:   +91 7042 020 782</h5>
                <br>
               </div>
              
              <hr>
          
               <h3>Address<img alt="" style="width:30px" th:src="@{img/address.png}"></h1></h3>
               <br>
               <h5>ValueCoders India Gurugram : 2nd Floor, 55P, Sector 44, Gurugram 122003, Haryana</h5>
               <h5>Noida: 3rd Floor, Fusion Square, 5A & 5B, Sector 126, Noida Pincode. 201303</h5>
               <h5>Bengaluru :001-117, Vaishnavi Signature Outer Ring Road, Bellandur Bengaluru, Karnataka 560103</h5>        
          
          </div>
           
           
        </div>
           
	</section>

</body>
</html>
