<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="Homebase::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Home</title>
</head>
<body>
	<section>
		<div class="container">
			<div class="row">
			
				<div class="col-md-6 offset-md-4">
					<div class="my-card mt-3">
					
				
					<div th:if="${session.message}" th:classappend="${session.message.type}" class="alert" role="alert">
  	               	     <p class="text-center" th:text="${session.message.content}"></p>  	               	     
  	               	     <th:block th:text="${#session.removeAttribute('message')}"></th:block>
		             </div>
		             
		             <div class="container text-center">
					
				    
					
					</div>
					
					<h3 class = "text-center">Login Form !!</h3>
					
					 <form  th:action="@{/login}" method="post"  >
					 
					  <div th:if = "${param.error}" class= "alert alert-danger">
					 	Invalid Username or Password !!
					 </div>
					 
					  <div th:if = "${param.logout}" class= "alert alert-success">
					 	You have been logged out !!
					 </div>
					 
					 <!-- email field  -->
					  
					  
					  	 <div class="form-group">
					  	 
						    <label for="email_field" class="text-info">Enter Email</label>
						    
						    <input 
						     name="username"
						      type="username"
						      class="form-control"
						      id="username" 
						      aria-describedby="emailHelp"
						      placeholder="username"
						      required
						      
						       />
					    
  						</div>
  						
  						
  						<br>
  						
					  	<!-- password field  -->
					  
					  
					  	 <div class="form-group">
					  	 
						    <label for="password_field" class="text-info">Enter Password</label>
						    
						    <input 
						    
						      name="password"
						      type="password"
						      class="form-control"
						      id="password" 
						      aria-describedby="emailHelp"
						      placeholder="password"
						      required
						      
						       />
						  
  						</div>
  						<br>
  						<div class="container text-center">
  						
  						<button type="submit" class="btn bg-primary  text-white">
  							Login
  						</button>
  						
  						</div>
  						
  						 </form>
				
					</div>
				
				</div>
			
			</div>
		
		</div>
	
	</section>
</body>
</html>